.a-propos-main {
    width: 50%;
    margin: auto;
}

.a-propos-main h1{
    text-align: center;
}


.carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    border-left: 1px solid #8e86b5;
    
    padding: 50px;
}
  
.carre-contenu h2 {
    margin-top: 30px;
 }
  
.carre-contenu ul {
    margin-top: 30px;
    margin-bottom: 30px;
}


table{
    border-collapse: collapse;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

caption{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2em;
}
td, th{
    border: 1px solid white;
    
}
td{
    padding: 50px;
}

@media screen and (max-width : 900px) {

    .a-propos-main {
        width: fit-content;
        margin: 0;
    }

    .carre-contenu {
        padding: 20px;
    }

    td{
        padding: 20px;
    }
}